section.page{
  background-image: url('/images/blue-blob.png'), url('/images/yellow-blob.png');
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 235px, 235px;
  width: 100%;
  min-width: 500px;
  min-height: 100vh;
}
section.start-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
section.start-page>*{
  margin: 0px;
}
section.start-page>h1{
  font-size: 1.953rem;
}
section.start-page>button.start-quiz-btn{
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 15px;
  width: 193px;
  margin-top: 20px;
}
section.start-page>button.start-quiz-btn:hover, section.start-page>button.start-quiz-btn:active{
  background-color: #4d5b9eea;
}

section.question-page>*{
  margin: 0px;
  max-width: 500px;
}

section.question-page{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px 40px;
}


.all-answers{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button.each-answer{
  height: 21px;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.7rem;
  border: 1px #4D5B9E solid;
  border-radius: 8px;
  color: #293264;
  background-color: inherit;
  transition: box-shadow 0.2s ease; /* smooth shadow transition */
}

button.selected{
  border: none;
  background-color: #D6DBF5;
}
button.right{
  border: none;
  background-color: #94D7A2;
}
button.wrong{
  color: #293264;
  border: none;
  background-color: #ff9b9b;
}
button.not-selected{
  color: #D6DBF5;
  border: 1px #D6DBF5 solid;
}

section.each-question-entity{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px #DBDEF0 solid;
}
section.each-question-entity>*{
  margin: 0px;
  font-size: 1rem;
  font-weight: bold;
}
button.question-action-btn{
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: inherit;
  font-size: 0.7rem;
  padding: 0.7rem;
  border-radius: 10px;
  width: 120px;
  margin-top: 20px;
}

button.each-answer:hover, button.each-answer:active{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
}
button.question-action-btn:active, button.question-action-btn:hover{
  background-color: #4d5b9eea;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
}

section.bottom-section{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
section.bottom-section>*{
  margin: 0px;
}
